table
{
    border-collapse: collapse;

    margin: auto;
}
td, th /* Mettre une bordure sur les td ET les th */
{

    border: 1px solid black;
    width: 10%;
    text-align: center
}


form.test
{
    text-align: center;
    display: inline;
}



select
{
    width: 50%;

}

select.small
{
    width: 50px;

}



header
{
    text-align: center;
    color: red;
    border : 3px solid pink;
}




nav {
    padding: 5px;
}
li  {
    display: inline;
    list-style: none; /* nécessaire pour IE7 */
}
ul{

}


div.buildingbloc{

    text-align: center;
}

div.hidden{
    visibility: hidden;
}

input.hidden{
    visibility: hidden;
}

div.newlight{

}

